<div class="modal-dialog" role="document">
  <form #f="ngForm" (ngSubmit)="f.form.valid && onClickSubmit()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label for="name" class="col-4 col-form-label">First Name</label>
                  <div class="col-8">
                    <input type="text" name="name" [(ngModel)]="user.name" placeholder="Name" class="form-control"
                      #name="ngModel" [ngClass]="{ 'is-invalid': (f.dirty || f.touched) && name.invalid }" required>
                    <div *ngIf="(f.dirty || f.touched) && name.invalid" class="invalid-feedback">
                      <div *ngIf="name.errors.required">First Name is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lastname" class="col-4 col-form-label">Last Name</label>
                  <div class="col-8">
                    <input type="text" name="surname" [(ngModel)]="user.surname" placeholder="Surname"
                      class="form-control" #surname="ngModel"
                      [ngClass]="{ 'is-invalid': (f.dirty || f.touched) && surname.invalid }" required>
                    <div *ngIf="(f.dirty || f.touched) && surname.invalid" class="invalid-feedback">
                      <div *ngIf="surname.errors.required">Last Name is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="passportNumber" class="col-4 col-form-label">Passport Number*</label>
                  <div class="col-8">
                    <input type="text" name="passportNumber" [(ngModel)]="user.passportNumber"
                      placeholder="Passport number" class="form-control">

                  </div>
                </div>
                <div class="form-group row">
                  <label for="idNumber" class="col-4 col-form-label">ID Number*</label>
                  <div class="col-8"><input type="text" name="idNumber" [(ngModel)]="user.idNumber"
                      placeholder="ID number" class="form-control" #idNumber="ngModel"
                      [ngClass]="{ 'is-invalid': (f.dirty || f.touched) &&  idNumber.invalid }" minlength="13"
                      maxlength="13" required></div>
                  <div *ngIf="(f.dirty || f.touched) &&  idNumber.invalid" class="invalid-feedback">
                    <div>SA ID number should be 13 long</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="emailAddress" class="col-4 col-form-label">Email Address*</label>
                  <div class="col-8"><input type="email" name="emailAddress"
                      [(ngModel)]="user.contactDetails.emailAddress" placeholder="Email Address" class="form-control"
                      #email="ngModel" [ngClass]="{ 'is-invalid': (f.dirty || f.touched) && email.invalid }" required
                      email>
                    <div *ngIf="(f.dirty || f.touched) && email.invalid" class="invalid-feedback">
                      <div *ngIf="email.errors.required">Email is required</div>
                      <div *ngIf="email.errors.email">Email must be a valid email address</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="mobileNumber" class="col-4 col-form-label">Mobile Number</label>
                  <div class="col-8"><input type="tel" name="mobileNumber"
                      [(ngModel)]="user.contactDetails.mobileNumber" placeholder="Mobile" class="form-control"
                      #mobileNumber="ngModel"
                      [ngClass]="{ 'is-invalid': (f.dirty || f.touched) && mobileNumber.invalid }" maxlength="10"
                      required></div>
                  <div *ngIf="(f.dirty || f.touched) && mobileNumber.invalid" class="invalid-feedback">
                    <div *ngIf="mobileNumber.errors.required">Mobile is required</div>
                    <div *ngIf="mobileNumber.errors.minlength">Mobile is invalid</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" value="submit" class="btn btn-primary">
      </div>
    </div>
  </form>
</div>