<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Demo</div>
    <div class="list-group list-group-flush">
        <a [routerLink]='["/"]' class="list-group-item list-group-item-action bg-light">Dashboard</a>
    </div>
</div>