<div class="d-flex" id="wrapper">
    <div id="page-content-wrapper">

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
 <notifier-container></notifier-container>