 <div class="container main-secction">
     <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12 image-section">
             <img src="https://png.pngtree.com/thumb_back/fw800/back_pic/00/08/57/41562ad4a92b16a.jpg">
         </div>
         <div class="row user-left-part">
             <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
                 <div class="row ">
                     <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                         <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png"
                             class="rounded-circle">
                     </div>
                     <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
                         <button id="btn-contact" class="btn btn-primary btn-block follow" disabled>Upload avatar
                         </button>
                         <button id="btn-contact" data-toggle="modal" data-target="#myModal"
                             class="btn btn-primary btn-block ">Edit
                             profile </button>
                     </div>
                    

                 </div>
             </div>
             <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
                 <div class="row profile-right-section-row">
                     <div class="col-md-12 profile-header">
                         <div class="row">
                             <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                                 <h1>{{user.name}} {{user.surname}}</h1>
                                 <br/>
                             </div>
                         </div>
                     </div>
                     <div class="col-md-12">
                         <div class="row">
                             <div class="col-md-12">
                                 <ul class="nav nav-tabs" role="tablist">
                                     <li class="nav-item">
                                         <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><i
                                                 class="fas fa-user-circle"></i> Personal Details</a>
                                     </li>
                                     <li class="nav-item">
                                         <a class="nav-link" href="#buzz" role="tab" data-toggle="tab"><i
                                                 class="fas fa-info-circle"></i> Contact Details</a>
                                     </li>
                                 </ul>

                                 <!-- Tab panes -->
                                 <div class="tab-content">
                                     <div role="tabpanel" class="tab-pane fade show active" id="profile">
                                         <div class="group">
                                             <div class="row">
                                                 <div class="col-md-4">
                                                     <label>ID</label>
                                                 </div>
                                                 <div class="col-md-8">
                                                     <p>{{user.userID}}</p>
                                                 </div>
                                             </div>

                                             <div class="row">
                                                 <div class="col-md-4">
                                                     <label>Names</label>
                                                 </div>
                                                 <div class="col-md-8">
                                                     <p>{{user.name}} {{user.surname}}</p>
                                                 </div>
                                             </div>
                                             <div class="row">
                                                 <div class="col-md-4">
                                                     <label>ID number</label>
                                                 </div>
                                                 <div class="col-md-8">
                                                     <p>{{user.idNumber}}</p>
                                                 </div>
                                             </div>
                                             <div class="row">
                                                 <div class="col-md-4">
                                                     <label>Passport Number</label>
                                                 </div>
                                                 <div class="col-md-8">
                                                     <p>{{user.passportNumber}}</p>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                     <div role="tabpanel" class="tab-pane fade" id="buzz">
                                         <div class="group">
                                             <div class="row">
                                                 <div class="col-md-6">
                                                     <label>Email</label>
                                                 </div>
                                                 <div class="col-md-6">
                                                     <p>{{user.contactDetails?.emailAddress}}</p>
                                                 </div>
                                             </div>
                                             <div class="row">
                                                 <div class="col-md-6">
                                                     <label>Mobile</label>
                                                 </div>
                                                 <div class="col-md-6">
                                                     <p>{{user.contactDetails?.mobileNumber}}</p>
                                                 </div>
                                             </div>
                                         </div>

                                     </div>
                                 </div>
                             </div>

                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
     <app-update-user [user]="user"></app-update-user>
 </div>